---
title: "nacyot"
---

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
  <article>
    <div class="nacyot">
      <h1>nacyot [낰:욧]</h1>
      <img src="https://avatars0.githubusercontent.com/u/148919?s=150" class="img-circle" />
    </div>

    <div class= "profile">
      <%= partial "./partials/profile" %>
    </div>
  </article>
</div>
